<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Cadastro Cidade</h2>
    <form method="POST" action="/cidade/salvar">

        <input name="nome" placeholder="Nome" required>
        <br>
        <select name="uf">
               <option value="uf.id">{uf.nomeComSigla()}</option>
               
        </select>
        <br>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>