<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lista de ufs</title>
</head>
<body>
    <h1>Lista de UFs</h1>
    <table border="1">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>UF</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <for|uf| in=list>
                    <td>${uf.id}</td>
                    <td>${uf.nome}</td>
                    <td>${uf.sigla}</td>
                </for>
            </tr>
        </tbody>
    </table>
</body>
</html>